
<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Find A Product</title>

        <link rel="stylesheet" href="http://www.houserentals.com/static/houserentals.com/css/app.dc8545c7bbbb.css">
        <link rel="stylesheet" href="http://www.houserentals.com/static/houserentals.com/css/styles.48f95b061313.css">

    <meta name="description" content="Welcome to the best deal-hunting resource. Search Pounce for the best selection of products for sale, plus added resources to make the purchasing process seamless.">
    </head>

    <body>


<div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">


<div style="position:absolute;height:100%;width:2px;border-left:2px solid #2e2e2e;right:-2px;top:0;z-index:9999;"></div>
<aside class="right-off-canvas-menu">
    <!-- whatever you want goes here -->
    <ul class="off-canvas-list" style="height:200px;">
        <li><a href="/">HOME<br></a></li>
    </ul>
</aside>


<!--DESKTOP IMAGE-->
<div id="home-main-image" class="show-for-medium-up">
    <div class="inner row">
        <!--header-->

<div id="auth-header" class="home-header">
    <div class="logo">
        <a href="/"><img src="http://www.houserentals.com/static/houserentals.com/img/logo_white.e49564d76e43.png" width="179" height="28"></a>
    </div>

<!--     <a class="hide" data-auth-require="manager" href="/account#add">
        <div class="list-property trans3">LIST PROPERTY</div>
    </a>
    <a class="hide" data-auth-require="renter" data-signup-role="manager" data-reveal-id="register-modal" href="#">
        <div class="list-property trans3">LIST PROPERTY</div>
    </a>
    <a class="hide" data-auth-require="anonymous" data-signup-role="manager" data-reveal-id="login-modal" href="#">
        <div class="list-property trans3">LIST PROPERTY</div>
    </a> -->

<!--     <div class="sign-up hide" data-auth-require="anonymous">
        <div id="header_alert" class="trans2">
            <a href="#" data-signup-role="renter" data-reveal-id="register-modal" class="trans3"><img src="http://www.houserentals.com/static/houserentals.com/img/home-house-icon.0af52b7e6154.png" class="trans2"></a>
        </div>
    </div> -->
<!--     <div class="sign-up hide" data-auth-require="anonymous">
        <a href="#" data-signup-role="renter" data-reveal-id="register-modal" class="trans3">SIGN UP</a>
    </div> -->
     <div class="sign-up">
        <a href="#" data-signup-role="renter" data-reveal-id="register-modal" class="trans3">SIGN UP</a>
    </div>

    <div class="login" data-auth-require="anonymous">
        <a id="signin" href="#" data-reveal-id="login-modal" class="trans3">LOG IN</a>
    </div>

<!--     <div class="login hide" data-auth-require="anonymous">
        <a id="signin" href="#" data-reveal-id="login-modal" class="trans3">LOG IN</a>
    </div> -->

    <div class="login hide" data-auth-require="authenticated">
        <a href="#" id="signout">LOG OUT</a>
    </div>
    <div class="login hide" data-auth-require="authenticated">
        <a href="/account" class="trans3">
            ANONYMOUS
        </a>
    </div>
    <div class="clear"></div>
</div>

        <!--text-->
        <div class="home-text-search">
            <h1>Tag products in seconds.</h1>
            <h2>Search the most comprehensive database for products online.</h2>
            <!--search-->
            <div class="home-search">
                <div class="inner">
                    <form method="get" action="/search">
                        <input type="text" placeholder="Product Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Product Name'" name="location">
                        <input type="submit" value="SEARCH">
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <img src="https://lh3.googleusercontent.com/-r5t0MIQk0WY/T6ga5f5adRI/AAAAAAAABZo/OIywGvBC6mg/s1920/CUBEN-Space-Io-abstract-1920x1080.jpg">
    </div>
</div>

<!-- MOBILE IMAGE-->
<div id="home-main-image" class="show-for-small-only">
    <div class="inner row">
        <div class="home-text-search">
            <h1>House rentals in seconds.</h1>
            <h2>Search the most comprehensive online database for single-family home rentals.</h2>
            <!--search-->
            <div class="home-search">
                <div class="inner">
                    <form method="get" action="/search">
                        <input type="text" placeholder="Search City or Zip" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search City or Zip'" name="location">
                        <input type="submit" value="SEARCH">
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <img src="http://www.houserentals.com/static/houserentals.com/img/home-main-mobile.bd4ef3dc2a44.jpg" class="show-for-portrait">
        <img src="http://www.houserentals.com/static/houserentals.com/img/home-main-landscape.f0ff3d80aa8d.jpg" class="show-for-landscape">
    </div>
</div>


<!-- MAJOR METRO AREAS -->
<div id="home-metro">
    <h5>Where's the deals?</h5>
    <h4>We've got products in every category around the world.</h4>
    <div class="inner row collapse">
        <div class="small-12 medium-4 columns">
            <a href="/new-york/manhattan">
                <h3>WOMEN<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-new-york.c24daa89656d.jpg" class="city">
            </a>
        </div>
        <div class="small-12 medium-4 columns">
            <a href="/illinois/chicago">
                <h3>BAGS<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-chicago.1f01b0078281.jpg" class="city">
            </a>
        </div>
        <div class="small-12 medium-4 columns">
            <a href="/california/los-angeles">
                <h3>SHOES<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-los-angeles.6034ee9ad16d.jpg" class="city">
            </a>
        </div>
        <div class="small-12 medium-4 columns">
            <a href="/texas/dallas">
                <h3>BEAUTY<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-dallas.8716c5f94052.jpg" class="city">
            </a>
        </div>
        <div class="show-for-medium-up medium-4 columns">
            <a href="/massachusetts/boston">
                <h3>JEWELRY<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-boston.3de2c235c4ae.jpg" class="city">
            </a>
        </div>
        <div class="show-for-medium-up medium-4 columns">
            <a href="/pennsylvania/philadelphia">
                <h3>MEN<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-philadelphia.d95c7f12d18b.jpg" class="city">
            </a>
        </div>
        <div class="show-for-medium-up medium-4 columns">
            <a href="/florida/miami">
                <h3>KIDS<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-miami.43dd4699a5e3.jpg" class="city">
            </a>
        </div>
        <div class="show-for-medium-up medium-4 columns">
            <a href="/washington/seattle">
                <h3>HOME<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-seattle.81c41daff3a9.jpg" class="city">
            </a>
        </div>
        <div class="medium-4 columns show-for-medium-up">
            <a href="/minnesota/minneapolis">
                <h3>SALES<img src="http://www.houserentals.com/static/houserentals.com/img/home-city-arrow.f3561d41cb1b.png" width="20" height="21" class="arrow"></h3>
                <img src="http://www.houserentals.com/static/houserentals.com/img/home-city-minneapolis.aaefd10c4dbc.jpg" class="city">
            </a>
        </div>
    </div>
    <!--
    <div class="more-button trans3">
        MORE <img src="http://www.houserentals.com/static/houserentals.com/img/home-more-arrow.5f4bd3764b56.png" width="9" height="6">
    </div>-->
</div>

<!-- ABOUT -->
<div id="home-about-us">
    <div class="inner row">
        <div class="title">Who We Are</div>
        <h4>Ever feel like you're in the dark when searching for deals online? There's a better way.</h4>
        <p>Finding an item at a price in your budget can be stressful. Reduce the stress with Pounce. We are here to help save you time, energy and frustration. Add products you're interested in to your wants list with your ideal buy price - and we do the rest of the work. Scanning retailers across the web until we find the product below your price. This process could take hours, days or weeks - depending on the sale cycle for the product - so you can also add a time you're willing to wait for the product.</p>
        <h5 class="show-for-medium-up">With Pounce, you get:</h5>
        <h5 class="show-for-small-only">With Punce, You Get:</h5>
        <ul class="points">
            <li><img src="http://www.houserentals.com/static/houserentals.com/img/home-about-points.468c1095cd55.png" width="5" height="10">Free, unlimited and easy product searches and adding wants</li>
            <li><img src="http://www.houserentals.com/static/houserentals.com/img/home-about-points.468c1095cd55.png" width="5" height="10">Access to information on an spectrum of product prices</li>
            <li><img src="http://www.houserentals.com/static/houserentals.com/img/home-about-points.468c1095cd55.png" width="5" height="10">Product descriptions with current price and photographs</li>
            <li><img src="http://www.houserentals.com/static/houserentals.com/img/home-about-points.468c1095cd55.png" width="5" height="10">New products added daily</li>
            <div class="clear"></div>
        </ul>
        <h5>For Shoppers</h5>
        <p>Find the perfect product at your ideal price. Choose a category, refine your search, and peruse the results. You are redirected to the retailer directly. We have taken a lot of the legwork out of product hunting.</p>
        <h5>For Retailers</h5>
        <p>Don't limit your knowledge of consumers' willingness to buy based off of the number of products sold. Use our user pricing information to more intelligently price your items.<br><br>Place your product with Pounce and find consumers quickly.</p>
    </div>
</div>


<div id="footer">
    <div class="inner row">
        <div class="logo">
           <!--  <img src="#" width="184" height="27"> -->
        </div>
        <div class="clear"></div>
        <!--social small only-->
        <div class="social-media show-for-small-only">
            <ul>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-facebook.9109f7534f09.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-twitter.289a688cafef.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-google.0357dcd8f3e4.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-pinterist.cd2cc2439cfc.png" width="18" height="18"></a>
                </li>
                <li class="last">
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-instagram.6b99f931da02.png" width="18" height="18"></a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
        <!--links for all except medium-->
        <div class="links hide-for-medium">
            <ul>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/terms">TERMS</a></li>
                <li><a href="/privacy">PRIVACY POLICY</a></li>
                <li><a href="/team">TEAM</a></li>
                <div class="clear"></div>
            </ul>
        </div>
        <!--links for medium-->
        <div class="medium-links show-for-medium-only">
                <a href="/contact">CONTACT</a>
                <a href="/terms">TERMS</a>
                <a href="/privacy">PRIVACY POLICY</a>
                <a href="/team">TEAM</a>
        </div>
        <!--social medium up-->
        <div class="social-media show-for-medium-up">
            <ul>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-facebook.9109f7534f09.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-twitter.289a688cafef.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-google.0357dcd8f3e4.png" width="18" height="18"></a>
                </li>
                <li>
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-pinterist.cd2cc2439cfc.png" width="18" height="18"></a>
                </li>
                <li class="last">
                    <a href="#" target="_blank"><img src="http://www.houserentals.com/static/houserentals.com/img/social-instagram.6b99f931da02.png" width="18" height="18"></a>
                </li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<div class="clear"></div>
    </div>
</div>


        <script type="text/javascript">
            DEBUG = false;
            PATH = "/";
        </script>



<div id="login-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Log in</h2>
    <form name="login_form" id="login_form">
        <div class="input-wrapper"><input name="username" type="email" placeholder="Email Address" required="required"></div>
        <div class="input-wrapper"><input name="password" type="password" placeholder="Password" required="required"></div>
        <div class="display-error hide">Invalid email and/or password.</div>
        <input type="submit" class="button login" id="submit-login-form" value="LOG IN">
        <div class="rule"></div>
        <div class="bottom-links text-center">
            <a class="trans1" data-reveal-id="forgot-password-modal">Forgot password</a>
            <span> • </span>
            <a class="trans1" data-reveal-id="register-modal">Sign up</a>
        </div>
    </form>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>


<div id="login-favorite-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Save property</h2>
    <p>Please login to save this listing to your favorites.<br><br></p> <!--remove 2 line breaks when re-adding FB-->
    <!--
    <form name="save_search_form" id="save_search_login_form" data-abide="ajax">
        <div class="rule"></div>
        <div class="button facebook-connect" id="submit-save-search-form"><img src="img/facebook-small.png"> LOG IN WITH FACEBOOK</div>
    </form>
    -->
    <form name="login-favorite-form" id="login-favorite-form">
        <!--<div class="or">OR</div>-->
        <div class="input-wrapper"><input name="username" type="email" placeholder="Email Address" required="required"></div>
        <div class="input-wrapper"><input name="password" type="password" placeholder="Password" required="required"></div>

        <div class="display-error hide">Email and password do not match</div>

        <div class="button login" id="submit-login-favorite-form">LOG IN</div>
        <div class="rule"></div>
        <div class="bottom-links text-center">
            <a class="trans1" data-reveal-id="forgot-password-modal">Forgot password</a>
            <span> &bull; </span>
            <a class="trans1" data-reveal-id="register-favorite-modal">Sign up</a>
        </div>
    </form>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="forgot-password-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Forgot Password?</h2>
    <form name="forgot_password_form" id="forgot_password_form" data-abide="ajax">
        <div class="input-wrapper"><input name="email" type="email" placeholder="Type in email to reset your password" required></div>
        <div class="display-error">That email is not registered</div>
        <div class="display-success">Please check your email for a reset link</div>
        <input type="submit" class="button" value="RESET">
        <div class="rule"></div>
        <div class="bottom-links text-center">
            <a data-reveal-id="login-modal" class="trans1">Return to Login</a><p></p>
        </div>
    </form>
    <a class="close-reveal-modal trans2">×</a>
</div>

<div id="register-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Sign up</h2>
    <div id="temp-fb-blocker" style="display:none">
        <a href="#" class="button facebook-connect"><img src="http://www.houserentals.com/static/houserentals.com/img/facebook-small.66b2a0dbcfc7.png"> SIGN UP WITH FACEBOOK</a>
        <div class="or">OR</div>
    </div>
    <form name="register_form" id="register_form">
        <div class="input-wrapper"><input type="email" name="email" placeholder="Email Address" required="required"></div>
        <div class="input-wrapper"><input type="password" name="password" placeholder="Password" required="required"></div>

        <div class="display-error">That email is already in use</div>

        <label class="renter">
            <input type="radio" name="category" value="renter">
            <div class="trans2"></div>
        </label>
        <label class="manager">
            <input type="radio" name="category" value="manager">
            <div class="trans2"></div>
        </label>

        <div class="button login" id="submit-register-form">SIGN UP</div>
        <div class="rule"></div>
        <div class="bottom-links">
            ALREADY HAVE AN ACCOUNT? <a data-reveal-id="login-modal" class="trans1" data-reveal-ajax="true">SIGN IN</a>
        </div>
    </form>
    <a class="close-reveal-modal trans2">×</a>
</div>

<div id="register-favorite-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Save property</h2>
    <p>Create your FREE HouseRentals account to save this listing to your favorites.<br><br></p> <!--remove 2 line breaks when re-adding FB-->
    <!--
    <form name="save_search_form" id="save_search_form" data-abide="ajax">
        <div class="rule"></div>
        <div class="button facebook-connect" id="submit-save-search-form"><img src="img/facebook-small.png"> SIGN UP WITH FACEBOOK</div>
    </form>
    -->
    <form name="register-favorite-form" id="register-favorite-form">
        <!--<div class="or">OR</div>-->
        <div class="input-wrapper"><input type="email" name="email" placeholder="Email Address" required="required"></div>
        <div class="input-wrapper"><input type="password" name="password" placeholder="Password" required="required"></div>

        <div class="display-error">That email is already in use</div>

        <div class="button login" id="submit-register-favorite-form">SIGN UP</div>
        <div class="rule"></div>
        <div class="bottom-links">
            ALREADY HAVE AN ACCOUNT? <a data-reveal-id="login-favorite-modal" class="trans1" data-reveal-ajax="true">SIGN IN</a>
        </div>
    </form>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="coming-soon-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Coming Soon</h2>
    <p>Sorry, we are really close to launching our new set of user features. Please try back next week.</p>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="success-message-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Success</h2>
    <div class="rule"></div>
    <div class="display-success message"></div>
    <div class="rule"></div>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="failure-message-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Error</h2>
    <div class="rule"></div>
    <div class="display-error message"></div>
    <div class="rule"></div>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="contact-property-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Contact Property</h2>
    <div class="contact-form-modal">
        <div class="rule"></div>
        <div class="phone">
            <img src="http://www.houserentals.com/static/houserentals.com/img/global-phone-black.fe19e6408932.png" height="16" width="16">
            <!-- <span class="contact-name">Sarah</span>  -->
            <span class="contact-phone"></span>
        </div>
        <form id="listing-contact-form" name="listing-contact-form" data-abide="ajax">
            <input type='hidden' name='csrfmiddlewaretoken' value='RQE7c0oH0FuMfmlBAfZfZI21DotcXleD' />
            <div class="input-wrapper">
                <input type="text" name="name" placeholder="Name" required>
            </div>
            <div class="input-wrapper">
                <input type="email" name="email" placeholder="E-mail Address" required>
            </div>
            <div class="input-wrapper">
                <input type="tel" name="phone" placeholder="Phone Number" required>
            </div>
            <div class="input-wrapper">
                <textarea id="contact_textarea" name="comments" rows="6" required>My name is _________ and I'm interested in viewing your rental property. I can be contacted by email at _________ or by phone at _________.</textarea>
            </div>
            <input id="contact-submitter" type="submit" class="button" value="SEND MESSAGE">
        </form>
    </div>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

<div id="contact-property-convert-modal" class="reveal-modal login-register-flow" data-reveal aria-hidden="true">
    <h2>Success</h2>
    <div class="rule"></div>
    <div class="display-success">Your message has been sent!</div>
    <div class="rule"></div>
    <div id="convert-section">
        <h2>Create account?</h2>
        <p style="margin-top:-5px;">Create a free account to keep track of your favorites across all your devices.<br><br></p>
        <form name="contact-property-convert" id="contact_property_convert" data-abide="ajax">
            <div class="input-wrapper"><input type="password" name="password" placeholder="Create a password" required></div>
            <input type="hidden" name="email">

            <input type="submit" class="button login" id="submit-login-form" value="DONE">
            <div class="rule"></div>
            <div class="bottom-links text-center">
                ALREADY HAVE AN ACCOUNT? <a class="trans1" data-reveal-id="login-modal">SIGN IN</a><span>
            </div>
        </form>
    </div>
    <a class="close-reveal-modal trans2">&#215;</a>
</div>

    </body>
</html>
